<div class="card ">
    <div class="card-header">Tablas Usuarios
              </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            
            <th scope="col">Rfc</th>
            <th scope="col">Pais</th>
            <th scope="col">Direccion</th>
            <th scope="col">Razon social</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>