
  
<nav class="navbar navbar-expand-lg " style="background-color:  #db1515ab">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    
  </div>
</nav>

<ng-container>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3 ">
      <ul class="list-group"></ul>
      <div class="card mt-3  " >
        <app-forato></app-forato>
      </div>
    </div>
    <div class="col-5 mt-3">
      <app-tabla></app-tabla>
    </div>
    <div class="col-2">
      <img width="300" src="assets\astro-robot-ps5-1920415.png">
    </div>
  </div>
  
</ng-container>
